@model List<TodoItemDTO>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="wrapper">
    <header>Todo App</header>
    <div class="inputField">
        <input type="text" id="taskInput" placeholder="Enter your new Todo" />
        <button id="addButton" class="btn-primary">Add</button>
    </div>
    <ul class="todoList">
        
    </ul>
    <footer>
        <span>You have <span class="pendingTasks">0</span> pending tasks</span>
        <button id="clearAllButton">Clear All</button>
    </footer>
</div>
<script src="~/js/script.js"></script>
</body>
</html>