*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #34e89e 0%, #0f3443 100%);
}

.wrapper{
    background-color: #fff;
    max-width: 400px;
    margin: 120px auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

header{
    font-size: 30px;
    font-weight: 600;
}

.inputField{
    margin: 20px 0;
    width: 100%;
    display: flex;
    height: 45px;
}

.inputField input{
    width: 85%;
    height: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 17px;
    padding-left: 15px;
}

.inputField input:focus{
    
}